<div id="tomato" tabindex="0" #tomato>
  <div id="work-break" *ngIf="timerService.timerIsRunning">
    <span *ngIf="timerService.numberOfPomodoros % 2 === 0">Work Time</span>
    <span *ngIf="timerService.numberOfPomodoros % 2 !== 0">Break Time</span>
  </div>
  <div id="stem"></div>
  <div id="leaves">
    <div id="leaf1" class="leaf"></div>
    <div id="leaf2" class="leaf"></div>
  </div>

  <div id="tomato-top" (click)="setFocus()">
    <div id="tomato-top1" class="top"></div>
    <div id="tomato-top2" class="top"></div>
    <div id="tomato-top3" class="top"></div>
    <div id="tomato-top4" class="top"></div>
    <div id="tomato-top5" class="top"></div>
  </div>

  <div id="tomato-bottom" (click)="setFocus()">
    <div id="tomato-bottom1" class="bottom"></div>
    <div id="tomato-bottom2" class="bottom"></div>
    <div id="tomato-bottom3" class="bottom"></div>
  </div>

  <div id="timer" (click)="setFocus()">
    <i id="play-pause" [className]="timerService.playOrPauseClassName"
    (click)="timerService.startOrPauseTimer()"></i>
    <div id="minutes">
      <i id="minute-up" class="timer-button fa fa-chevron-up"
      (click)="timerService.addMinutes()"></i>
      <i id="minute-down" class="timer-button fa fa-chevron-down"
      (click)="timerService.subtractMinutes()"></i>
    </div>
    <div id="clock">
      <span class="time">{{timerService.minutes}}</span><span id="colon">:</span><span class="time">{{timerService.seconds}}</span>
    </div>
    <div id="seconds">
      <i id="second-up" class="timer-button fa fa-chevron-up"
      (click)="timerService.addSeconds()"></i>
      <i id="second-down" class="timer-button fa fa-chevron-down"
      (click)="timerService.subtractSeconds()"></i>
    </div>
    <i id="stop" class="timer-button fa fa-stop"
    (click)="timerService.stopTimer()"></i>
  </div>

</div>
